<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/Head') %>
</head>
<body>
  <%- include('../components/Header') %>


    <!-- ################# Page Title #######################--->
    <div class="page-nav row">
                <h2>Undergraduate Guidebooks</h2>
                <ul>
                    <li><a href="../Home.ejs"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="../UniversitiesGuide/GuideMain.ejs"><i class="fas fa-chevron-right"></i> Universities Guidebooks</a></li>
                    <li><a href="UGRADGuide.ejs"><i class="fas fa-chevron-right"></i> Undergraduate Guidebooks</a></li>
                   </ul>
    </div>
    
<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
      <br>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="../NationalUniGuide.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Universites/Guide/NationalGuide.png" alt="National Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>National Universities</h6>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="../PublicUniGuide.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Universites/Guide/PublicGuide.png" alt="Public Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Public Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../PrivateUniGuide.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Universites/Guide/PrivateGuide.png" alt="Private Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Private Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../InternationalUniGuide.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Universites/Guide/InternationalGuide.png" alt="International Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>International Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="../SpecialUniGuide.ejs">
                  <div class="Box-card">
                      <img src="../../../public/images/Universites/Guide/SpecialGuide.png" alt="Special Nature Universities">
                      <div class="Box-det" style="text-align: center;">
                          <h6>Special Nature Universities</h6>
                      </div>
                  </div>
              </a>
          </div>            
            <div class="col-md-4">
                <a href="../TechUniGuide.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Universites/Guide/TechUniGuide.png" alt="Technological Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Technological Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="../InstGuide.ejs">
                  <div class="Box-card">
                      <img src="../../../public/images/Universites/Guide/InstitutionsGuide.png" alt="Higher Institutes, Academies & Technological Colleges">
                      <div class="Box-det" style="text-align: center;">
                          <h6>Higher Institutes, Academies & Technological Colleges</h6>
                      </div>
                  </div>
              </a>
          </div>            
        </div>
    </div>
</div>

<%- include('../components/SmartAssistant') %>
<%- include('../components/Footer') %>
<%- include('../components/Scripts') %>

</body>
</html>
