<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../components/Head') %>
  <link rel="stylesheet" href="/path/to/font-awesome/css/font-awesome.min.css">
  
</head>
<body>
  <%- include('../../components/Header') %>

  <!-- ################# Page Title #######################--->
  <div class="page-nav row">
    <h2>National Universities Admissions Status</h2>
    <ul>
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/AdmissionStatus"><i class="fas fa-chevron-right"></i> Universities Admissions Status</a></li>
      <li><i class="fas fa-chevron-right"></i> <a href="/AdmissionStatus/UGRAD">Undergraduate</a></li>
      <li><a href="/AdmissionStatus/UGRAD/National"><i class="fas fa-chevron-right"></i> National Universities</a></li>
    </ul>         
  </div>

  <!-- Subscribe Header -->
  <div class="subscribe-header">
    <i id="subscribe-header-bell" class="fa fa-bell notification-bell"></i>
    <span>Subscribe for changes notifications</span>
  </div>

  <!--  ************************* Body ************************** -->
  <section>
    <div class="table-responsive">
      <table class="Stat">
        <tr>
          <th rowspan="2">University</th>
          <th rowspan="2">Transfer</th>
          <th colspan="2">Thanwyaa Amaa</th>
          <th colspan="2">Arab, English & Azhari Certificates</th>
          <th colspan="2">Stem & Nile Certificates</th>
          <th rowspan="2">International Students</th>
        </tr>
        <tr>
          <th>2023</th>
          <th>2024</th>
          <th>2023</th>
          <th>2024</th>
          <th>2023</th>
          <th>2024</th>
        </tr>

        <!-- Example University Rows -->
        <tr>
          <td>
            French University in Egypt
            <i class="fa fa-bell notification-bell" data-university="French University in Egypt"></i>
          </td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
          <td>Not Started</td>
        </tr>
        <tr>
          <td>
            Nile University
            <i class="fa fa-bell notification-bell" data-university="Nile University"></i>
          </td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
          <td>Avilable</td>
        </tr>
        <tr>
          <td>
            Egyptian E-Learning University
            <i class="fa fa-bell notification-bell" data-university="Egyptian E-Learning University"></i>
          </td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
          <td>Ended</td>
        </tr>
        <tr>
          <td>
            Ain Shams National University
            <i class="fa fa-bell notification-bell" data-university="Ain Shams National University"></i>
          </td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
          <td>Under Construction</td>
        </tr>
        <!-- Add more university rows as needed -->

      </table>
    </div>
    <p style="text-align: center;"><br>● The Admission Status will be updated frequently.</p>
  </section>

  <%- include('../../components/SmartAssistant') %>
  <%- include('../../components/Footer') %>
  <%- include('../../components/Scripts') %>

  <script>
    window.onload = function() {
        var tableCells = document.getElementsByTagName("td");
        for (var i = 0; i < tableCells.length; i++) {
            if (tableCells[i].innerHTML == "Ended") {
                tableCells[i].style.color = "red";
            } else if (tableCells[i].innerHTML == "Avilable") {
                tableCells[i].style.color = "green";
            } else if (tableCells[i].innerHTML == "Not Started") {
                tableCells[i].style.color = "brown";
            } else if (tableCells[i].innerHTML == "Under Construction") {
                tableCells[i].style.color = "purple";
            }
        }

        var notificationButtons = document.getElementsByClassName("notification-bell");
        for (var i = 0; i < notificationButtons.length; i++) {
            notificationButtons[i].onclick = function() {
                var university = this.dataset.university;
                var isActive = this.classList.toggle("active");
                // In a real application, you would send a request to your backend to handle subscription logic
                if (isActive) {
                    alert(`Subscribed to notifications for ${university}`);
                } else {
                    alert(`Unsubscribed from notifications for ${university}`);
                }
            };
        }

        var headerBell = document.getElementById("subscribe-header-bell");
        headerBell.onclick = function() {
            var isActive = headerBell.classList.toggle("active");
            // In a real application, you would send a request to your backend to handle subscription logic for all universities
            if (isActive) {
                alert(`Subscribed to notifications for all universities`);
            } else {
                alert(`Unsubscribed from notifications for all universities`);
            }
        };
    };
  </script>
</body>
</html>
