<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../components/Head') %>
</head>
<body>
  <%- include('../../components/Header') %>

    <!-- ################# Page Title #######################--->
    <div class="page-nav row">
      <h2>Undergraduagtes Admissions Status</h2>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/AdmissionStatus"><i class="fas fa-chevron-right"></i> Universities Admissions Status</a></li>
          <li><i class="fas fa-chevron-right"></i> <a href="/AdmissionStatus/UGRAD">Undergraduagte</a></li>
         </ul>
</div>

<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
      <br>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="/AdmissionStatus/UGRAD/National">
                    <div class="Box-card">
                        <img src="/images/Universites/Status/NationalStatus.png" alt="National Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>National Universities</h6>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="/AdmissionStatus/UGRAD/public">
                    <div class="Box-card">
                        <img src="/images/Universites/Status/PublicStatus.png" alt="Public Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Public Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/AdmissionStatus/UGRAD/private">
                    <div class="Box-card">
                        <img src="/images/Universites/Status/PrivateStatus.png" alt="Private Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Private Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/AdmissionStatus/UGRAD/international">
                    <div class="Box-card">
                        <img src="/images/Universites/Status/InternationalStatus.png" alt="International Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>International Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="/AdmissionStatus/UGRAD/Special">
                  <div class="Box-card">
                      <img src="/images/Universites/Status/SpecialStatus.png" alt="Special Nature Universities">
                      <div class="Box-det" style="text-align: center;">
                          <h6>Special Nature Universities</h6>
                      </div>
                  </div>
              </a>
          </div>            
            <div class="col-md-4">
                <a href="/AdmissionStatus/UGRAD/tech">
                    <div class="Box-card">
                        <img src="/images/Universites/Status/TechUniStatus.png" alt="Technological Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Technological Universities</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="/AdmissionStatus/UGRAD/inst">
                  <div class="Box-card">
                      <img src="/images/Universites/Status/AllInstitutionsStatus.png" alt="Higher Institutes, Academies & Technological Colleges">
                      <div class="Box-det" style="text-align: center;">
                          <h6>Higher Institutes, Academies & Technological Colleges</h6>
                      </div>
                  </div>
              </a>
          </div>            
        </div>
    </div>
</div>

<%- include('../../components/SmartAssistant') %>
<%- include('../../components/Footer') %>
<%- include('../../components/Scripts') %>

</body>
</html>
