<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/Head') %>
</head>
<body>
  <%- include('../components/Header') %>


    <!-- ################# Page Title #######################--->
<div class="page-nav row">
            <h2>Equivalent Certificates Calculator</h2>
            <ul>
                <li><a href="../Home.ejs"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="CertificatesMain.ejs"><i class="fas fa-chevron-right"></i> Equivalent Certificates Calculator</a></li>
            </ul>
</div>

<div class="Card-Box">
  <div class="container">
    <br>
      <div class="row Box-ro">
          <div class="col-md-4">
              <a href="American.ejs">
                  <div class="Box-card">
                      <img src="../../../public/images/Certificates/American.png" alt="">
                      <div class="Box-det" style="text-align:center;">
                          <h6>American Diploma</h6>
                          <ul>
                          </ul>
                      </div>
                  </div>
              </a>
          </div>        
          <div class="col-md-4">
              <a href="IGCSE.ejs">
                  <div class="Box-card">
                      <img src="../../../public/images/Certificates/IGCSE.png" alt="">
                      <div class="Box-det" style="text-align:center;">
                          <h6>IGCSE</h6>
                          <ul>
                          </ul>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4">
            <a href="Azhari.ejs">
                <div class="Box-card">
                    <img src="../../../public/images/Certificates/Azhari.png" alt="">
                    <div class="Box-det" style="text-align:center;">
                        <h6>Azhari Certificate</h6>
                        <ul>
                        </ul>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="STEM.ejs">
                  <div class="Box-card">
                      <img src="../../../public/images/Certificates/STEM.png" alt="">
                      <div class="Box-det" style="text-align:center;">
                          <h6>STEM Certificate</h6>
                          <ul>
                          </ul>
                        </div>
                      </div>
                  </a>
              </div>
              <div class="col-md-4">
                <a href="Nile.ejs">
                    <div class="Box-card">
                        <img src="../../../public/images/Certificates/Nile.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Nile Certificate</h6>
                            <ul>
                            </ul>
                          </div>
                        </div>
                    </a>
                </div>
          <div class="col-md-4">
            <a href="Saudi.ejs">
                <div class="Box-card">
                    <img src="../../public/images/Edu Type/Saudi.png" alt="">
                    <div class="Box-det" style="text-align:center;">
                        <h6>Saudi Certificate</h6>
                        <ul>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
          <a href="Kuwaiti.ejs">
              <div class="Box-card">
                  <img src="../../../public/images/Certificates/Kuwaiti.png" alt="">
                  <div class="Box-det" style="text-align:center;">
                      <h6>Kuwaiti Certificate</h6>
                      <ul>
                      </ul>
                  </div>
              </div>
          </a>
      </div>       
      <div class="col-md-4">
        <a href="Bahraini.ejs">
            <div class="Box-card">
                <img src="../../../public/images/Certificates/Bahraini.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Bahraini Certificate</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>       
    </div>
  </div>
</div>



<%- include('../components/SmartAssistant') %>
<%- include('../components/Footer') %>
<%- include('../components/Scripts') %>

</body>
</html>
