<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../components/Head') %>
</head>
<body>
  <%- include('../../../components/Header') %>

  
      <!-- ################# Page Title #######################--->
      <div class="page-nav row">
          <h2>Normal National Universities Guidebook</h2>
          <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/UniversitiesGuide"><i class="fas fa-chevron-right"></i> Universities Guidebooks</a></li>
            <li><a href="/UniversitiesGuide/UGRAD"><i class="fas fa-chevron-right"></i> Undergraduate Guidebooks</a></li>
            <li><a href="/UniversitiesGuide/UGRAD/National"><i class="fas fa-chevron-right"></i> National Universities</a></li>
            <li><a href="/UniversitiesGuide/UGRAD/National/Affiliated"><i class="fas fa-chevron-right"></i> Affiliated National Universities</a></li>
          </ul>
  </div>
  

<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
        <div class="session-title row">
        </div>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="/UniversitiesGuide/UGRAD/National/Affiliated/MansNU">
                    <div class="Box-card">
                        <img src="/images/Logos/Universites/National/MansNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Mansoura National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="/UniversitiesGuide/UGRAD/National/Affiliated/HNU">
                    <div class="Box-card">
                        <img src="/images/Logos/Universites/National/HNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Helwan National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/UniversitiesGuide/UGRAD/National/Affiliated/BNU">
                    <div class="Box-card">
                        <img src="/images/Logos/Universites/National/BNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Benha National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/UniversitiesGuide/UGRAD/National/Affiliated/BSNU">
                    <div class="Box-card">
                        <img src="/images/Logos/Universites/National/BSNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Beni Suef National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
        </div>
        <div class="col-md-4">
            <a href="/UniversitiesGuide/UGRAD/National/Affiliated/SVNU">
                <div class="Box-card">
                    <img src="/images/Logos/Universites/National/SVNU.png" alt="">
                    <div class="Box-det" style="text-align:center;">
                        <h6>South Valley National University</h6>
                        <ul>
                        </ul>
                    </div>
                </div>
            </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/ZNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/National/ZNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Zagazig National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
</div>
<div class="col-md-4">
    <a href="/UniversitiesGuide/UGRAD/National/Affiliated/MiniaNU">
        <div class="Box-card">
            <img src="/images/Logos/Universites/National/MiniaNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>Minia National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a href="/UniversitiesGuide/UGRAD/National/Affiliated/MenofiaNU">
        <div class="Box-card">
            <img src="/images/Logos/Universites/National/MenofiaNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>Menoufia National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a href="/UniversitiesGuide/UGRAD/National/Affiliated/EPNU">
        <div class="Box-card">
            <img src="/images/Logos/Universites/National/EPNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>East Port Said National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/AlexNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/National/AlexNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Alexandria National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/AssuitNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/National/AssuitNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Assiut National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/NINU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/National/NINU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>New Ismailia National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/SNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Sohag National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/ASNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Ain Shams National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/AswanNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Aswan National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/FNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Fayoum National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/DNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Damanhour National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/UniversitiesGuide/UGRAD/National/Affiliated/KSNU">
            <div class="Box-card">
                <img src="/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Kafr El Sheikh National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>


<%- include('../../../components/SmartAssistant') %>
<%- include('../../../components/Footer') %>
<%- include('../../../components/Scripts') %>

</body>
</html>