<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/Head') %>
</head>
<body>
  <%- include('../components/HeaderHome') %>

<!-- ################# Slider #######################--->
<div class="slider">
  <div class="owl-carousel">
    <!-- Slide 1 -->
    <div class="item">
      <div class="slider-img"><img src="/images/slider/slider-1.jpg" alt="Slider Image 1"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Your Comprehensive Guide to Universities in Egypt</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="item">
      <div class="slider-img"><img src="/images/slider/slider-2.jpg" alt="Slider Image 2"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Explore Your Options with Our Universities Guide</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="item">
      <div class="slider-img"><img src="/images/slider/slider-3.jpg" alt="Slider Image 3"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Start Your Journey with Our Universities Guide</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- ################# About Us #######################--->
<div class="About-Us">
  <div class="inner-lay">
    <div class="container">
      <div class="row session-title">
        <h2>About US</h2>
        <p>A voluntary team of students from various Egyptian universities, aiming to assist those interested in applying to Egyptian universities.</p>
      </div>
      <div class="row">
        <div class="col-sm-3 numb">
          <h3>4+</h3>
          <span>Years of Experience</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>80+</h3>
          <span>Team Members</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>7+</h3>
          <span>Guidebooks</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>115k+</h3>
          <span>Guidebooks Visits</span>
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- ################# Our Team #######################--->
<div class="Our-Team">
  <div class="container">
    <div class="session-title row">
      <h2>Our Team</h2>
    </div>
    <div class="Member-row row">
      <!-- First Row: 1 Member -->
      <div class="col-md-12">
        <div class="Member-card">
          <img src="/images/Board/MahmoudAdel.jpg" alt="Mahmoud Adel">
          <h6>Mahmoud Adel</h6>
          <p>Team Leader</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/AhmedAlaa.jpg" alt="Ahmed Alaa">
          <h6>Ahmed Alaa</h6>
          <p>Head of Undergraduate Committee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/AhmedHamdy.jpg" alt="Ahmed Hamdy">
          <h6>Ahmed Hamdy</h6>
          <p>Head of Postgraduate Committee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/MayadaKandil.jpg" alt="Mayada Kandil">
          <h6>Mayada Kandil</h6>
          <p>Head of Media & Marketing Committee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/YoussefBadreldin.jpg" alt="Youssef Badreldin">
          <h6>Youssef Badreldin</h6>
          <p>Head of Information Technology Committee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/HaninSabbah.jpg" alt="Hanin Sabbah">
          <h6>Hanin Sabbah</h6>
          <p>Head of Public Relations Committee</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Member-card">
          <img src="/images/Board/AhmedEid.jpg" alt="Ahmed Eid">
          <h6>Ahmed Eid</h6>
          <p>Head of Customer Service Committee</p>
        </div>
      </div>
    </div>
  </div>
</div>
         
<!-- ################# Latest News #######################--->
<div class="Latest-News">
  <div class="container">
    <div class="session-title row">
      <h2>Latest News</h2>
    </div>
    <div class="row-news row">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        function getMonth(monthName) {
          var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          return months.indexOf(monthName);
        }

        $(document).ready(function() {
          $.get('/News', function(data) {
            let newsHtml = $(data);
            let newsCards = newsHtml.find('.our-blog .news-card');
            newsCards.sort(function(a, b) {
              var dateA = new Date(
                a.querySelector('.date-box small').innerText,
                getMonth(a.querySelector('.date-box p').innerText),
                a.querySelector('.date-box span').innerText
              );
              var dateB = new Date(
                b.querySelector('.date-box small').innerText,
                getMonth(b.querySelector('.date-box p').innerText),
                b.querySelector('.date-box span').innerText
              );

              return dateB - dateA;
            });

            $('.Latest-News .row-news').html(newsCards.slice(0, 5));
          });
        });
      </script>
    </div>
  </div>
</div>  

<script src="/plugins/slider/js/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items: 1,
      loop: true,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      nav: true,
      dots: true,
      navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"]
    });
  });
</script>

<%- include('../components/SmartAssistant') %>
<%- include('../components/Footer') %>
<%- include('../components/Scripts') %>

</body>
</html>
