<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/Head') %>
</head>
<body>
  <%- include('../components/Header') %>


    <!-- ################# Page Title #######################--->
    <div class="page-nav row">
      <h2>News</h2>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/News"><i class="fas fa-chevron-right"></i> News</a></li>
      </ul>
    </div>

    <!-- ################# empty space #######################--->
    <div class="our-Services">
      <div class="container">
        <div class="session-title row">
          <!-- Session title goes here -->
        </div>
      </div>

      <!-- ################# Cards Box #######################--->
      <div class="our-blog bb3 pc2">
        <div class="container">
          <div class="row-news row">
            <div class="col-md-10 vbf mx-auto">
              <!-- News cards go here -->
              <!-- Example of a news card -->
              <div class="news-card row">
                <div class="col-2">
                  <div class="date-box">
                    <span>5</span>
                    <p>Jan</p>
                    <small>2024</small>
                  </div>
                </div>
                <div class="col-7 setv">
                  <h4><a href="#">Ministry of higher Education & Scientific Research announced that...</a></h4>
                </div>
                <div class="col-3 img-cv">
                  <img src="images/Logos/MOHSER.png" alt="MOHSER Logo">
                </div>
              </div>
              <!-- Repeat for other news cards -->
            </div>
          </div>
        </div>
      </div>

      <script>
        // Sorting script for news cards
        window.onload = function() {
          var container = document.querySelector('.vbf'); // the parent container
          var items = Array.from(document.querySelectorAll('.news-card')); // the cards to be sorted

          items.sort(function(a, b) {
              var dateA = new Date(
                  a.querySelector('.date-box small').innerText,
                  getMonth(a.querySelector('.date-box p').innerText),
                  a.querySelector('.date-box span').innerText
              );
              var dateB = new Date(
                  b.querySelector('.date-box small').innerText,
                  getMonth(b.querySelector('.date-box p').innerText),
                  b.querySelector('.date-box span').innerText
              );

              return dateB - dateA; // sort in descending order
          });

          items.forEach(function(item) {
              container.appendChild(item); // append the sorted items back into the container
          });
        };

        function getMonth(monthName) {
          var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          return months.indexOf(monthName);
        }
      </script>

<%- include('../components/SmartAssistant') %>
<%- include('../components/Footer') %>
<%- include('../components/Scripts') %>

</body>
</html>
